main {
  padding: 1em;
}

ul {
  list-style-type: square;
  border: 1px solid black;
  border-radius: 5px;
}

li:first-child {
  margin-top: 10px;
}

.users .user {
  margin-bottom: 10px;
}

.role-badge {
  padding: 5px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 0.8em;
}

.role-badge.role-user {
  background-color: var(--accent-color);
}

.role-badge.role-admin {
  background-color: var(--primary-color);
  color: white;
}
