.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

.new-task {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.new-task .form-group {
  display: flex;
  flex-direction: column;
}

.tasks mat-card {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .new-task {
    grid-template-columns: 1fr 1fr auto;
  }

  .new-task .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .new-task .form-group .form-control {
    flex-grow: 1;
  }
}

.tasks .task {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'deadline actions' 'title title';
  grid-row-gap: 10px;
}

.tasks .task.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .tasks .task {
    grid-template-columns: 3fr 1fr auto;
    grid-template-areas: 'title deadline actions';
  }
}

.tasks .task .title {
  grid-area: title;
}

.tasks .task .deadline {
  grid-area: deadline;
}

.tasks .task .deadline span {
  padding: 5px;
  background-color: indianred;
  border-radius: 8px;
  font-size: 0.8em;
}

.tasks .task .actions {
  grid-area: actions;
  text-align: right;
}

