@import url('https://fonts.googleapis.com/css2?family=Helvetica:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49343");

  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #028249;
  --secondary-color: #333C87;
  --accent-color: #f8f8f8;
  --shadow-color: #E9E9E9;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
