#frame {
  border: 2px solid black;
  border-radius: 16px;
  padding: 15px;
  margin: 15px;
}

#frame.green {
  border-color: green;
}

#frame.red {
  border-color: red;
}

#frame > button {
  margin: 0 10px;
}

span.green {
  color: green;
}

span.red {
  color: red;
}
