:root {
  --primary-color: #333C87;
  --secondary-color: #018249;
  --accent-color: #e9e8fb;
  --shadow-color: #E9E9E9;
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
