.details-container {
  padding: 20px;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #F8F8F8FF;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  max-width: 320px;
  box-sizing: border-box;
}

.person h2 {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--secondary-color);
}

dl.address {
  background-color: #efefef;
  margin: 10px -20px 0 -20px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}
